@page {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color-adjust: exact;
  -webkit-print-color-adjust:exact;
}

p {
  margin: 10px 0;
  line-height: 1.75em;
  font-size: 17px;
}

.intro {
  margin: 50px 0 10px;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns:1fr 350px 713px;
  background-color: #fafafa;
}

body > * {
  padding: 25px 40px;
}

.page-size {
  height: 1375px;
  width: 100%;
}

.sidebar {
  position: relative;
  display: grid;
  justify-items: center;
  align-content: start;
  grid-gap: 30px;
  background-color: #242B64;
  color: #fafafa;
}

.heading {
  display: grid;
  place-content: center;
  place-items: center;
}

.picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-size: 40px;
}

.sidebar-item {
  justify-self: start;
  text-decoration: none;
}

.sidebar-item h3 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social img,
.resume-heading img {
  object-fit: cover;
  width: 30px;
  height: 30px;
  background-color: #fafafa;
  border-radius: 50%;
  padding: 1px;
}

.social p {
  color: #fafafa;
  text-decoration: none;
  margin-left: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 10px;
  background: radial-gradient(white, rgba(255, 255, 255, 0));
  z-index: 100;
}

.indent {
  text-indent: 30px;
}

.content .letter-heading * {
  margin: 0;
}

.location p {
  line-height: 1em;
}

.input-form div {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.input-form div * {
  margin: 5px;
}

.resume {
  border-top: 1px solid black;
}

.resume .experience {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.experience h1 {
  grid-column: 1 / -1;
  margin-bottom: 10px;
}

.jobs h2 {
  margin-bottom: 15px;
}

.job img {
  height: 35px;
  align-self: center;
}

.job .doordash {
  height: 17px;
}

.job .job-heading {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  margin-bottom: 5px;
}

.job .details {
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

.job .details > *{
  margin: 0 0 0 40px;
}

.framework {
  display: grid;
}

.resume-heading {
  display: flex;
  align-items: center;
  margin-top: 25px;
  border-top: 1px solid black;
}

.resume-heading > * {
  text-decoration: none;
  padding: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-heading p {
  font-size: 12px !important;
}

.resume-heading .bubble {
  width: 10px;
  height: 10px;
  margin: 0 2.5px;
}

.resume-heading h2 {
  margin-right: 25px;
}

.resume p {
  font-size: 15px;
}

.level {
  margin-left: 20px;
}

.level p{
  margin-right: 5px;
}


.resume-title {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.resume-title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 75%;
  height: 1px;
  background: linear-gradient(black 25%, rgba(0, 0, 0, 0));
}

.technology-proficiencies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.soft-skills h1,
.technology-proficiencies h2,
.featured-projects h1 {
  margin-bottom: 10px;
  width: none;
}

.projects {
  margin-top: 25px;
}

.featured-projects h1 {
  width: auto;
}

.skill {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.skill * {
  padding: 0;
  margin: 0;
}

.progress {
  margin-left: 20px;
  display: flex;
}

.bubble {
  width: 15px;
  height: 15px;
  border: 1px solid transparent;
  margin: 0 5px;
  border-radius: 50%;
}

.fill {
  background-color: white;
}

.resume .fill {
  background-color: black;
  border-color: black;
}

.half-circle {
  position: relative;
  border: 1px solid black;
}

.half-circle::after {
  content: '';
  position: absolute;
  background: black;
  border-radius: 50% 0 0 50%;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
}

.resume .half-circle,
.skill .half-circle {
  background-color: transparent;
}

.sidebar .half-circle {
  border: 1px solid white;
}

.sidebar .half-circle::after {
  background: white;
}


.featured-projects .skill {
  margin: 5px 0;
}

.featured-projects a{
text-decoration: none;
color: white;
}

.featured-projects i,
.featured-projects img {
  margin-left: 10px;
}

.featured-projects img {
  height: 16px;
  filter: invert(100%);
}

.projects {
  margin-bottom: 15px;
}
.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px 0 10px 0;
}

.project .description {
  margin: 0;
}

.project-tech {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-column-gap: 20px;
  align-items: center;
}

.project-tech img {
  width: 16px;
}

.seperator {
  margin: 0 15px;
}

@media print {
  .input-form,
  .filler {
    display: none;
  }

  body {
    grid-template-columns: 350px 713px;
  }
}